<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>List of achievable goals</string>
	<string>Daily health checks</string>
	<string>List of all medications</string>
	<string>Daily food consumption</string>
	<string>Action, activity, or physical effort</string>
</array>
</plist>
